In [63]:
import pandas as pd

file_path = 'data.csv'
df = pd.read_csv(file_path, encoding='utf-8', header=0, on_bad_lines='skip', low_memory=False)

In [64]:
df= df[df['상세영업상태명'] == '영업']

In [65]:
# 전체 데이터의 결측치 비율 확인
null_ratio = df.isnull().mean()
# 결측치 비율이 50% 이상인 컬럼만 삭제
df = df.loc[:, null_ratio < 0.5]

In [66]:
print(len(df))
print(df.head())

12509
    개방자치단체코드                    관리번호       인허가일자  영업상태코드  영업상태명  상세영업상태코드  \
0    3220000  3220000-101-1007-00001  1997-02-05       1  영업/정상         1
7    3220000  3220000-101-1899-20451  1999-10-05       1  영업/정상         1
8    3220000  3220000-101-1899-20453  1999-10-05       1  영업/정상         1
10   3220000  3220000-101-1899-20463  1999-10-06       1  영업/정상         1
15   3220000  3220000-101-1899-20500  1999-10-12       1  영업/정상         1

   상세영업상태명    소재지면적  소재지우편번호                   지번주소  ... 데이터갱신구분  \
0       영업      NaN  135-954  서울특별시 강남구 청담동 88-5번지   ...       I
7       영업   950.66  135-090     서울특별시 강남구 삼성동 159   ...       U
8       영업   473.24  135-090     서울특별시 강남구 삼성동 159   ...       U
10      영업   282.59  135-090     서울특별시 강남구 삼성동 159   ...       U
15      영업  1157.90  135-873   서울특별시 강남구 삼성동 109-6   ...       U

                  데이터갱신일자 업태구분명        좌표정보(X)        좌표정보(Y) 위생업태명 남성종사자수  \
0   2018-08-31 23:59:59.0    한식  203520.881091  446950.285626    한식    NaN
7   2022-01-13 02:40:00.0   경양식  205130.591679  445590.096838   경양식    0.0
8   2022-01-13 02:40:00.0   경양식  205130.591679  445590.096838   경양식    0.0
10  2022-01-13 02:40:00.0   경양식  205130.591679  445590.096838   경양식    0.0
15  2021-11-27 02:40:00.0    한식  205662.873886  445913.719788    한식    0.0

    여성종사자수  다중이용업소여부    시설총규모
0      NaN         N     0.00
7      0.0         N   950.66
8      0.0         N   473.24
10     0.0         N   282.59
15     0.0         N  1157.90

[5 rows x 24 columns]

In [70]:
df['업태구분명'].unique()
df['업태구분명'].value_counts()

업태구분명
한식                 4944
경양식                2130
기타                 1764
일식                 1044
분식                  810
중국식                 415
호프/통닭               301
외국음식전문점(인도,태국등)     250
패스트푸드               147
통닭(치킨)              122
까페                   96
김밥(도시락)              95
감성주점                 73
식육(숯불구이)             71
뷔페식                  52
정종/대포집/소주방           52
패밀리레스트랑              30
횟집                   27
라이브카페                24
출장조리                 19
전통찻집                 14
탕류(보신용)              14
복어취급                  6
키즈카페                  4
냉면집                   3
이동조리                  1
Name: count, dtype: int64

In [67]:
df.to_csv('gangnam_sales_only.csv', index=False, encoding='utf-8-sig')

In [ ]:

# CSV 파일 읽기
df = pd.read_csv('gangnam_sales_only.csv', header=None)

# 남길 컬럼만 선택 (인덱스는 0부터 시작)
df_cleaned = df[[1, 2, 7, 12]]

# 컬럼명 지정
df_cleaned.columns = ['음식점ID', '인허가일자', '소재지면적', '음식점명']

In [7]:
print(df_cleaned)

                        음식점ID       인허가일자   소재지면적              음식점명
0                        관리번호       인허가일자   소재지면적              사업장명
1      3220000-101-1007-00001  1997-02-05     NaN               배초향
2      3220000-101-1899-20451  1999-10-05  950.66              브래서리
3      3220000-101-1899-20453  1999-10-05  473.24             로비라운지
4      3220000-101-1899-20463  1999-10-06  282.59               로비바
...                       ...         ...     ...               ...
12505  3220000-101-2025-00467  2025-04-23    54.2  하츠노스시 바이(by) 코우지
12506  3220000-101-2025-00468  2025-04-23    18.0        주식회사 퍼블릭푸드
12507  3220000-101-2025-00469  2025-04-23    32.0             오케이포케
12508  3220000-101-2025-00470  2025-04-23    18.0              윈윈푸드
12509  3220000-101-2025-00471  2025-04-23    90.9          고봉당 논현역점

[12510 rows x 4 columns]

In [8]:

# 정제된 데이터 저장
df_cleaned.to_csv('gangnam_restaurants_cleaned.csv', index=False)

In [ ]:

# CSV 파일 읽기
df = pd.read_csv('gangnam_restaurants_cleaned.csv')

# 필요한 열만 선택
restaurants = df[['음식점ID', '음식점명']].dropna()

                        음식점ID              음식점명
0      3220000-101-1007-00001               배초향
1      3220000-101-1899-20451              브래서리
2      3220000-101-1899-20453             로비라운지
3      3220000-101-1899-20463               로비바
4      3220000-101-1899-20500             노블발렌티
...                       ...               ...
12504  3220000-101-2025-00467  하츠노스시 바이(by) 코우지
12505  3220000-101-2025-00468        주식회사 퍼블릭푸드
12506  3220000-101-2025-00469             오케이포케
12507  3220000-101-2025-00470              윈윈푸드
12508  3220000-101-2025-00471          고봉당 논현역점

[12509 rows x 2 columns]

In [3]:
import pandas as pd

# 파일 불러오기
file_path = 'gangnam_restaurants_cleaned.csv'
df = pd.read_csv(file_path, encoding='utf-8')

# 음식점명 컬럼 확인 (일반적으로 '사업장명' 또는 '업소명' 등으로 되어 있을 수 있음)
column_name = '음식점명'  # 실제 컬럼명으로 변경해주세요

# "(한시적)"이 포함된 행을 제외한 데이터프레임 생성
df_filtered = df[~df[column_name].str.contains('(한시적)', regex=False)]

# 결과 확인
print(f"원본 데이터 행 수: {len(df)}")
print(f"필터링 후 데이터 행 수: {len(df_filtered)}")
print(f"제거된 행 수: {len(df) - len(df_filtered)}")

# 변경된 데이터 저장
df_filtered.to_csv('gangnam_restaurants_cleaned.csv', index=False, encoding='utf-8-sig')

원본 데이터 행 수: 12503
필터링 후 데이터 행 수: 12485
제거된 행 수: 18